.navbar-nav .nav-link:hover {
    color: #fff; /* Cor do texto ao passar o mouse */
    background-color: #28a745; /* Cor de fundo ao passar o mouse */
  }

  .navbar-nav .nav-link {
    transition: color 0.3s, background-color 0.3s;
  }
